{% extends "base_form.html" %}
{% load static from staticfiles %}

{% block css %}
{% static "bootstrap-daterangepicker/daterangepicker-bs3.css" as daterangepicker_css %}
{% static "bootstrap-datepicker/css/bootstrap-datepicker.min.css" as datepicker_css %}
<link href="{{datepicker_css}}" rel="stylesheet">
<link href="{{daterangepicker_css}}" rel="stylesheet">
<style type="text/css">
.form-group ul{
	list-style-type: none;
}
ul.ui-autocomplete {
	border: 1px solid #ccc;
	list-style-type: none;
	overflow-y: auto;
	max-height: 200px;
	padding-left: 0px;
	font-size: inherit;
	max-width: 300px;
	background: #fff;
	margin-bottom: 0px;
	position: absolute;
	z-index: 1;
}

.ui-autocomplete li {
	padding-left: 12px;
	line-height: 16px;
}

.ui-state-focus {
	background: #1287EC;
	color: white;
}

.ui-helper-hidden-accessible {
	display: none;
	max-height: 0px;
	padding: 0px;
}

</style>
{% endblock %}

{% block js %}
{% static "jquery-ui/jquery-ui.min.js" as jquery_ui %}
{% static "bootstrap-datetimepicker/moment.min.js" as moment_js %}
{% static "bootstrap-daterangepicker/daterangepicker.js" as daterangepicker_js %}
{% static "bootstrap-datepicker/js/bootstrap-datepicker.min.js" as datepicker_js %}
{% static "jquery-mask/jquery.mask.min.js" as jquery_mask %}
{% static "javascript/year_month_picker_future_only.js" as year_month_picker %}
<script src="{{jquery_ui}}"></script>
<script src="{{moment_js}}"></script>
<script src="{{daterangepicker_js}}"></script>
<script src="{{datepicker_js}}"></script>
<script src="{{jquery_mask}}"></script>
<script src="{{year_month_picker}}"></script>
{% endblock %}

{% block form_body %}
	{% for attr in form %}
		{% if attr.is_hidden %}
			{{attr}}
		{% else %}
			<div class="form-group {% if attr.errors %}has-error has-feedback{% endif %}">
				<label class="col-sm-2 control-label">{{attr.label}}</label>
				<div class="col-sm-10">
					{{attr}}
					{% if attr.errors %}
						<span class="glyphicon glyphicon-remove form-control-feedback"></span>
						<span class="help-block">{{attr.errors.as_text}}</span>
					{% endif %}
				</div>
			</div>
		{% endif %}
	{% endfor %}

{% endblock %}

