#chart {
	margin-bottom: 20px;
	min-height: 300px;
}

.chart-error {
	font-size: 25px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    color: rgba(128, 128, 128, 0.51);
    padding-top: 131px;
}

.tab-content>.tab-pane {
    min-height: 65px;
    margin-top: 15px;
}