#chart {
	margin-bottom: 20px;
	min-height: 300px;
}

.chart-error {
	font-size: 28px;
    text-align: center;
    color: rgba(128, 128, 128, 0.51);
    padding-top: 131px;
}

.tab-content>.tab-pane {
    min-height: 65px;
    margin-top: 15px;
}