{% extends "base_list.html" %}

{% load static from staticfiles %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}

{% block js %}
{% static "javascript/delete_from_list.js" as delete_from_list %}
<script src="{{delete_from_list}}"></script>
{% endblock %}

{% block table_content %}
<thead>
	<tr>
		<th>Nome</th>
		<th>Valor Nominal</th>
		<th>Ações</th>
	</tr>
</thead>

<tbody>
{% for item in equipments %}
	<tr>
		<td>{{item.name}}</td>
		<td>{{item.nominal_power}}</td>
		<td class="text-center">
      <div class="btn-group">
				<button title="Remover" class="btn btn-danger" data-toggle="modal" data-target=".modal" value="{% url 'equipment:delete' pk=item.pk %}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	      </button>
				<a class="btn btn-default" title="Editar" href="{% url 'equipment:edit' pk=item.pk %}"><i class="glyphicon glyphicon-pencil"></i></a>
			</div>
		</td>
	</tr>
{% endfor %}
</tbody>
{% endblock %}