{% extends "base.html" %}
{% load static from staticfiles %}

{% block css_base %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css">
{% endblock %}

{% block js_base %}
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/sorting/date-euro.js"></script>
<script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('#main_table').dataTable({
            language: {
              "sEmptyTable": "Nenhum registro encontrado",
              "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
              "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
              "sInfoFiltered": "(Filtrados de _MAX_ registros)",
              "sInfoPostFix": "",
              "sInfoThousands": ".",
              "sLengthMenu": "_MENU_ resultados por página",
              "sLoadingRecords": "Carregando...",
              "sProcessing": "Processando...",
              "sZeroRecords": "Nenhum registro encontrado",
              "sSearch": "Pesquisar",
              "oPaginate": {
               "sNext": "&rsaquo;",
               "sPrevious": "&lsaquo;",
               "sFirst": "&laquo;",
               "sLast": "&raquo;"
              },
              "oAria": {
                 "sSortAscending": ": Ordenar colunas de forma ascendente",
                 "sSortDescending": ": Ordenar colunas de forma descendente"
              }
            },
            "pageLength": {% if items_per_page %}{{items_per_page}}{% else %}10{% endif %},
            "iDisplayLength": {% if table_default_results %}{{ table_default_results }}{% else %}10{% endif %}
          });
      });
</script>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>{{list_title}}</h1>
    </div>

    {% block list_filters %}
    {% endblock %}
      
    <table id="main_table" cellpadding="0" cellspacing="0" border="0" class="table {% if not remove_striped %} table-striped {% endif %} table-bordered">
      {% block table_content %}
      {% endblock %}
    </table>
  </div>

  {% if create_link or back_link %}
    <div class="container">
      {% if back_link  %}
        <a class="btn btn-default" href="{{back_link}}">Voltar</a>
      {% endif %}
      {% if create_link  %}
        <a class="btn btn-{% if create_link_class %}{{create_link_class}}{% else %}primary{% endif %}" href="{{create_link}}">Criar</a>
      {% endif %}
    </div>
  {% endif %}

  <br/>

  {% if custom_buttons %}
    <div class="container">
      {% for custom_button in custom_buttons %}
        <a class="btn btn-{% if custom_button.class %}{{custom_button.class}}{% else %}default{% endif %}" href="{{custom_button.link}}">{{custom_button.text}}</a>
      {% endfor %}
    </div>
  {% endif %}

  {% block modals %}
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="delete-form" action method="post">

            {% csrf_token %}
            
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Remoção</h4>
            </div>

            <div class="modal-body">
              <p>Tem certeza que quer deletar o item?</p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" value="Deletar">Deletar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  {% endblock %}

{% endblock %}