{% load static from staticfiles %}
{% static "bootstrap/css/bootstrap.min.css" as bootstrap_css %}
{% static "bootstrap/css/bootstrap-theme.min.css" as bootstrap_theme_css %}
{% static "css/application.css" as application_css %}
{% static "bootstrap/js/bootstrap.min.js" as bootstrap_js %}
{% static "jquery/jquery-1.9.1.min.js" as jquery_js %}
{% static "images/fav.ico" as favicon_ico %}

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="shortcut icon" href="{{favicon_ico}}" />

    <title>{{page_title}}</title>

    <link rel="stylesheet" type="text/css" href="{{bootstrap_css}}" />

    {% block base_css %}

    {% endblock %}

    {% block css %}

    {% endblock %}
    
    <link rel="stylesheet" type="text/css" href="{{application_css}}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" language="javascript" src="{{jquery_js}}"></script>
    <script type="text/javascript" language="javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    {% block base_js %}

    {% endblock %}
    
    {% block js %}

    {% endblock %}
  </head>

  <body>
    <div class="wrapper">
      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">SiME</a>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              {% if user.is_authenticated %}
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                <li><a href="{% url 'consumption:graphic' %}">Consumo</a></li>
                <li><a href="{% url 'equipment:list' %}">Equipamentos</a></li>
                <li><a href="{% url 'sensor:list' %}">Sensores</a></li>
                <li><a href="{% url 'configuration:config' %}">Configurações</a></li>
                <li><a href="{% url 'aes_rate:table' %}">AES</a></li>
                <li><a href="{% url 'goal:list' %}">Metas</a></li>
              {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <p class="navbar-text">Olá, <a href="{% url 'configuration:edit_user' %}">{{user.username}}</a></p>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      {% block home_content %}

        <div class="container">
          {% block content %}

          {% endblock %}

          {% block js_bottom %}
          {% endblock %}
        </div> <!-- /container -->

      {% endblock %}

    </div>

    <div class="container-fluid footer">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <p>&copy; Sistema de Monitoramento Residencial de Uso de Energia 2015</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
