{% extends "base_form.html" %}
{% load static from staticfiles %}

{% block form_body %}
	{% if messages %}
    {% for message in messages %}
	    <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %} {% if 'error' in message.tags %}alert-danger{% endif %}" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>{{ message }}</div>
    {% endfor %}
    <br>
	{% endif %}

	<div class="row">
		<div class="col-sm-6">
			{% for attr in form %}
				{% if attr.is_hidden %}
					{{attr}}
				{% else %}
					<div class="form-group {% if attr.errors %}has-error has-feedback{% endif %}">
						<label class="col-sm-4 control-label">{{attr.label}}</label>
						<div class="col-sm-8">
							{{attr}}
							{% if attr.errors %}
								<span class="glyphicon glyphicon-remove form-control-feedback"></span>
								<span class="help-block">{{attr.errors.as_text}}</span>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<div class="col-sm-6 text-center">
			{% if no_users %}
				<p>Você ainda não possui cadastro.</p>
				<a href="{% url 'configuration:create_user' %}" class="btn btn-info">Cadastrar</a>
			{% else %}
				<p>Esqueceu a senha?</p>
				<a href="{% url 'configuration:recover_password' %}" class="btn btn-warning">Esqueci a minha senha</a>
			{% endif %}				
		</div>
	</div>

{% endblock %}