/* General: */
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Tables: */
.table thead tr th  {
	text-align: center;
	vertical-align:middle;
}
.table tbody tr td {
	vertical-align:middle;
}
.text-right {
	text-align:right;
}