/* General: */
body {
	padding-bottom: 20px;
}

/* Tables: */
.table thead tr th  {
	text-align: center;
	vertical-align:middle;
}
.table tbody tr td {
	vertical-align:middle;
}
.text-right {
	text-align:right;
}

.loading-gif{
  background-image: url("/static/images/loading.gif");
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
  top: 50%;
  left: 50%;
  width: 100%;
}

.monthly-range-picker tr:nth-child(2){
  display: none
}

.monthly-range-picker tbody {
  display: none
}

.monthly-range-picker .input-mini, .glyphicon-calendar {
  display: none
}