{% extends "base_list.html" %}

{% load static from staticfiles %}

{% block js %}
{% endblock %}

{% block table_content %}
<thead>
	<tr>
		<th>ID</th>
		<th>Nome</th>
		<th>Código</th>
		<th>Equip. Associado</th>
		<th>Ações</th>
	</tr>
</thead>

<tbody>
{% for item in sensors %}
	<tr>
		<td>{{item.pk}}</td>
		<td>{{item.name}}</td>
		<td>{{item.code}}</td>
		<td>{{item.equipment.name}}</td>
		<td class="text-center">
			<div class="btn-group">
				<button title="Remover" class="btn btn-danger" data-toggle="modal" data-target=".modal" value="{% url 'sensor:delete' pk=item.pk %}">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
				<a class="btn btn-default" title="Editar" href="{% url 'sensor:edit' pk=item.pk %}">
					<i class="glyphicon glyphicon-pencil"></i>
				</a>
			</div>
		</td>
	</tr>
{% endfor %}
</tbody>
{% endblock %}